@charset "UTF-8";

/* Base */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #444;
	font-family: 'Noto Sans KR', sans-serif;	/*폰트 타입*/
	font-weight: 400;
}
a{
	text-decoration: none;			/*밑줄 삭제*/
	color: #fff;	
}
a:hover{	/*마우스 올려놨을 때*/
	color: #fec156;
	cursor: pointer;	
}
body{
	min-width: 1366px;	/*최소 넓이*/
}
li{
	list-style: none;	/*불릿(앞 표시) 삭제*/
}
footer{
	text-align : center;
	background-color: #000;
}




/* Name-가변형 */
#category{
	width: 100%;
	background: #dfdfdf;		/* 메인 배경색 */
}

/* 1번째 라인 */
#top > #frm_top > .top_header{
	position:relative;
	width: 100%;
	height : 130px;
	margin: 0px auto;
	background-color:#000;
	padding: 30px 20px;
	/*border : 2px solid #000;*/
}

/* Top - 로고 */
.cate_logo{
	position:absolute;
}

/* Top - 검색창 */
.top_header > .header_main{
	display: inline-block;
    margin: 10px 315px;
}

.searchLine{
	width : 1000px;
	background-color : #fff;
	padding : 2px;
	display : inline-block;
	border-radius:30px;
	text-align: center;
	margin-left: 450px;
	margin-top: 10px;
}

.searchLine > #findStr{
	background-color : #fff;
	height : 40px;
	border : 0px;
	outline: none;
	width: 900px;
}

.searchLine > #searchIcon{
	margin: 10px 0 -5px 10px;
}

/* Top - 서브 기능 */
.top_header > .menu_sub{
	text-align:right;
	margin-top:  -50px;
	margin-right: 10px;
}

.menu_sub img{
	width: 2%;
}



/* 2번째 라인 */
#top_main > #frm_top_main > .top_main_header{
	position:relative;
	width: 100%;
	height : 80px;
	margin: 0px 0px;
	background-color : #000;
	/*border : 2px solid #f00;*/
}

/* Top - temp */
.temp{
	position:absolute;
	width : 80px;
	height : 80px;
}

/* Top - 로고 */
.hid_logo{
	position:absolute;
	
}

/* 카테고리 */
.top_main_header > #submenu_title{
	
	/*border : 2px solid #fff;*/
	width : 700px;
	height : 80px;
	display: flex;
    justify-content : space-evenly;
    
	position:absolute;
	left:650px;
	top:10px;
	font-size : 25px;
	
	margin: 10px;
}

/* Top_Main - 서브 기능 */
.top_main_header > #top_main_menu_sub{
	position:absolute;
	left:1600px;
	display : inline-block;
}

/*다시 할것...*/
.top_header header:first-child{
	z-index : 2;
}
.top_main_header header:last-child{
	z-index : 1;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
#search_Name{
	font-size : 40px;
	text-align : center;
	margin-top: -60px;
	color: #fec156;
}


.mid > .searchlist{
	text-align : center;
}
.item{
	position:relative;
	height : 300px;
}
.item > .item_img{
	position:absolute;
	left : 400px;
}
.item > .item_info{
	position:absolute;
	text-align : left;
	left : 700px;
	top : 20px;
}
.book_Name{
	font-size : 30px;
	color: #000;
}


/* 버튼 */
.btns{
	text-align: center;
}
.btns button{
	width:33px;
	border:none;
	font-size : 18px;
	padding:3px;
	border-radius: 30px;
	margin: 10px 5px 30px 5px;
	background-color:#000;
	color: #fff;
}
.btns button:hover{
	cursor: pointer;
	background: #fec156;
}

.mid {
	background-color: #fff;
}
